:root {
  --main-color: #f8d4bc;
  --secondary-color: #a7ab9e;
  --third-color: #e7e8e6;
}

body {
  height: 100%;
  background-image: url("../src/images/color_palette.png");
  background-size: 100% 100vh;
}

section {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
}

footer a {
  color: var(--secondary-color);
}

footer a:hover {
  color: var(--main-color);
  text-decoration: none;
}

.container {
  margin-top: 30px;
}
