.Definition .row {
  margin: 0;
  padding-left: 10px;
  display: flex;
}

.Definition .word {
  font-size: 30px;
  font-weight: 600;
}

.Definition .phonetics {
  text-align: end;
  position: relative;
  top: 8px;
}
